<section class="all-employees">

   <div class="container">
    <h2 ><span class="title">Nos employés</span></h2>
   <div class="cards">
      <div class="card shadow">
        <div class="card-gradient">
          <div class="card-avatar"></div>
        </div>
        <div class="card-info">
          <p class="card-job">Déboucheur d'évier</p>
          <p class="card-price">Prix: 60€</p>
          <p class="card-button">PLUS D'INFORMATIONS</p>
        </div>
      </div>
      <script>
        const card = document.querySelector(".card")
        const cards = document.querySelector(".cards")
        for (let i = 0; i < 10; i++) {
          const newCard = card.cloneNode(true);
          cards.append(newCard);
        }
      </script>

    </div>
    </div>
</section>
