<section class="all-employees">

   <div class="container">
    <h2 ><span class="title">Nos employés</span></h2>
   <div class="cards">
    <% employees.each do |employee| %>
      <div class="card shadow">
        <div class="card-gradient">
          <div class="card-avatar"></div>
        </div>
        <div class="card-info">
          <p class="card-job"><%= employee.job_title %></p>
          <p class="card-price">Prix:  <%= employee.price_per_day %></p>
          <p class="card-button">PLUS D'INFORMATIONS</p>
        </div>
      </div>
      <% end %>


    </div>
    </div>
</section>
