<div class="card-employee">
  <div class="card-employee__header">
    <div class="card-employee--avatar"></div>
    <%# <img src="..." class="card-employee--avatar" /> %>
  </div>
  <div class="card-employee__body">
    <h6>Déboucheur d'évier</h6>
    <p>60 euros</p>
    <button class="card-employee--button">Plus d'informations</button>
  </div>
</div>
