<div class="header">
  <div class="container flex">
    <div class="header-title">
      <div class="header-title-logo">
        <%= image_tag "logo.png", class:"image-logo" %>
        <div class="empnloc">
          <h1 class="irish-grover-regular">empN'loc</h2>
          <p>Trouver votre employé en toute simplicité</p>
        </div>
      </div>
      <div>
      <h2 class="irish-grover-regular">Réserver votre <br>employé</h1>
      <p>Trouver pour chaque situation une personne qualifiée comme
              un nettoyeur d'écrans de cinéma, un éleveur d’insectes,
               un gumoliste</p>
       </div>
       <div id="employee_img"></div>
    </div>
    <div class="features-search">
      <form action="" class="form-search">
        <div class="input_search">
          <label for="employ-search">Employé recherché</label>
          <input type="text" name="employ-search" class="input-search" placeholder="Pompier"/>
        </div>
        <div class="input_search">
          <label for="date-search">Quand?</label>
          <input type="text" name="date-search" class="input-search" placeholder="Vos dates" />
        </div>
        <div class="input_search">
          <input type="submit" class="button-search" placeholder="Vos dates" value="Rechercher" />
        </div>
      </form>
    </div>



  </div>
</div>


<hr>
