<div class="header" data-controller="employe-roulette">
  <div class="modal-roulette">
      <div class="modal-roulette-content ">
        <h2><span class="title">Employé roulette!! Youhoou!</span></h2>
          <div class="random-job">
            <div class="triangle"></div>
              <div class="redirection-employee-roulette" data-action="click->employe-roulette#result">Valider ce choix</div>
          </div>
      </div>
  </div>
  <div class="container flex">
    <div class="header-title">


    <div class="header-title-logo">
        <%= image_tag "logo.png", class:"image-logo" %>
        <div class="empnloc">
          <h1 class="irish-grover-regular">Réserver votre <br>employé</h1>
          <p class="caveat">Trouver pour chaque situation une personne qualifiée comme
              un nettoyeur d'écrans de cinéma, un éleveur d’insectes,
               un gumoliste</p>
        </div>
      </div>

       <div id="employee_img"></div>
    </div>

    <div class="features-search">
      <form action="" class="form-search" data-action="submit->search#clear">
        <div class="input_search">
            <%= form_with url: employees_path, method: :get, class: "input-search" do %>
              <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Employé recherché",
                data: {action: "input->search#clear"}
              %>
        </div>
        <div class="input_search">
            <%= submit_tag "Rechercher", name: "", class: "button-pink card-animate" %>
            <% end %>
        </div>



      </form>
      <div class="block-center mt-5" data-action="click->employe-roulette#modal"><span class="confetti-button animate">Employés Roulette</span></div>
      </div>
    </div>



  </div>
</div>


<hr>
