.avatar {
  width: 40px;
  border-radius: 50%;
  background-color: #F8A4A4;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-pink-circle{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #F8A4A4;
}

.avatar-pink-circle i {
 font-size: 24px;
 color: white;
}

.version-pink{
  border:3px solid white;
  background-color: #F8A4A4;
}

.version-white{
  color: white;
}
