.cards{
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
 margin-top: 50px;
 padding-bottom: 20px;
 z-index: 3;
 position: relative;

}

.card{
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 8px;
  width :300px;
  transition: all 0.3s;

  &:hover{
    transform: scale(1.05);
  }
}

.card-gradient{
  position: relative;
   background: linear-gradient(38deg, rgba(60, 135, 166, 1) 37%, rgba(51, 150, 193, 1) 50%, rgba(31, 100, 130, 1) 70%);
  height: 180px;
}

.card-avatar{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 16px;

  & > img {
    border-radius: 50%;
  }
}

.card-info{
  padding: 8px;
}

.card-job{
  font-weight: bold;
}

.price-pink{
  background-color: #F8A4A4;
  color: white;
  padding-right: 16px;
}

.card-button{
  width:100%;
  padding: 16px 0;
  background-color: #1B424A;
  color: white;
  border-radius: 25px;
  text-align: center;
}

.card-alink{
  display: block;
  width:100%;
  padding: 16px;
  background-color: #1B424A;
  color: white;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
}

.card-description {
  color: #1b424A
}

.card-first-name {
  color: #F8A4A4;
  position: absolute;
  bottom: -6px;
  margin: 0;
  left: 10px;
}


.input-quantity {
  display: block;
  width:70%;
  padding:10px 8px;
  background: white;
  border: 0;
  border-radius: 19px;
  margin: 0 auto;
}
