.footer{


  background-color:#71A8B5 ;

}


 #hr-footer{
  position: relative;
  top:50px;
  z-index: 3;
  display: block;
  height: 5em;
  margin: 0;
  border: 0;
  overflow: visible;
  opacity: 1;

  &::before{
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    display: block;
    height: 15em;
    content: '';
    background-color: #71A8B5!important;
    bottom: 0em;
    -webkit-transform: skewY(-3deg);
    transform: skewY(-3deg);
  }
 }


 .gros-titre{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  span{
  font-size: 150px;
  font-family: "Irish Grover", system-ui;
  font-weight: bolder;
  font-style: normal;
  color:white;
  opacity: 0.5;
  }
 }

 .footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #F8A4A4;
  opacity: 1;
  text-decoration: none;
  font-size: 40px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-ban {
  color: #F8A4A4;
}

.footer-copyright{
  font-size:24px;


}
