.form-search{
  display: flex;
  width:100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,0.3);
  padding: 25px 0;
  border-radius: 35px;
  margin-top: 30px;
}


.input_search{
  margin:8px 0;
  width:100%;

}

.input_search input{
  display: block;
  width:70%;
  padding:10px 8px;
  background: white;
  border: 0;
  border-radius: 19px;
  margin: 0 auto;
}

.input_search label{
  display: block;
  width:70%;
  padding:0 8px;
  margin: 0 auto;
}

.button-search{
  margin:8px 0;
  background-color: #1B424A!important;
  color: white !important;
}
