.container__show {
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

// .employee-container{
  // width: 50%;
  // padding-top: 50px;
// }

// .panier-container{
  // width: 50%;
  // padding-top: 10%;
// }

.commande-orders{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 300px;
  min-height: 300px;
  border: 1px solid lightgrey;
  border-radius: 30px;
  background: #96C3D6;
  margin-left: 20px;
  padding: 16px;
  font-family: caveat;
  font-size: 24px;

  &__body {
    margin-bottom: 16px;
  }

  &__employee {
    /* width: 100%; */
    border: 2px solid #3C87A6;
    border-radius: 35px;
    padding: 4px 8px;
    background-color: #fff;
  }

  //&__footer {
    //display: flex;
    //justify-content: end;
  //}

  //&--text {
    //margin: 4px;
    //padding: 0 8px;
    //color: white;
    //border-radius: 30px;
    //background: #3C87A6;
    //font-size: x-small;
  //}
}

.button-commande {
  padding: 0 8px;
  color: white;
  background: #F8A4A4;
  border-radius: 30px;
  justify-content: end;
}
