body{
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.irish-grover-regular {
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2{
  font-size: 36px;
  font-weight: 800;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
}

h1{
  font-size: 48px;
  font-weight: 800;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
}



.flex{
  display: flex;
  justify-content: space-between;
}


.shadow{
  box-shadow: 0, 0, 10px, 10px, rgba(0, 0, 0,  0.2);
}


.border-right{
  border-right: 4px #F8A4A4 solid;
  margin-right: 8px;
  transition: all 0.3s ;
}

.expand{
  width: 100%;
}

.group-button{
  display: flex;
  gap: 16px;
}
