body{
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.irish-grover-regular {
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2{
  font-size: 36px;
}

h1{
  font-size: 48px;
}

h1, h2, h3 {
  font-weight: 800;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
}

.caveat{
  font-family: "Caveat", cursive;
  font-weight: 100;
  font-size: 24px;
}

.flex{
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

.logo-nav{

    width: 50px!important;
    height: 50px;
}


.shadow{
  box-shadow: 0, 0, 10px, 10px, rgba(0, 0, 0,  0.2);
}


.border-right{
  border-right: 4px #F8A4A4 solid;
  margin-right: 8px;
  transition: all 0.3s ;
}

.expand{
  width: 74%;
}

.group-button{
  display: flex;
  gap: 16px;
}


.backgroundPink{
  font-weight: 400;
  background-color: #F8A4A4;
  transition: all 0.3s;

  &:hover{
     background-color: #aa7676;
  }
}

.backgroundRed{
  font-weight: 400;
  background-color: red;
  transition: all 0.3s;

  &:hover{
     background-color: #490c0c;
  }
}

.dashed{
  border: 6px dashed #F8A4A4;
  transition: all 0.3s;

    &:hover{
     border: 6px dashed #aa7676;
  }
}

a{
  text-decoration: none;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.pink{
  color: pink;
}


.span-pink{
  background-color:#F8A4A4;
  padding: 0 8px;
  color: white;
}

.span-blue{
  background-color:#3396C1;
  padding: 0 8px;
  color: white
}
